.news-card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.news-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.news-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

button {
  padding: 5px 10px;
  border: none;
  background-color: #2c7be5;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 1s;
}

button:hover {
  background-color: #0feb7d;
}
